Repository googleinterns/vt-usage, pull requests merged in 2020-08, with the labels that each got.

#28 Change wazuh install to sources + fix scripts
  capstone/install-elastic-stack.sh
  capstone/install-kibana.sh
  capstone/install-wazuh-agent.sh
  capstone/install-wazuh.sh
  capstone/setup-filebeat.sh
  capstone/wazuh.conf
Labels: capstone, cla: yes

#29 Added client-server auth
  default/main.py
  default/requirements-dev.txt
  default/requirements.txt
  default/tests/test_main.py
  webhook/main.py
  webhook/models.py
  webhook/requirements-dev.txt
  webhook/requirements.txt
  webhook/tests/test_query_results.py
Labels: cla: yes

#32 Fix response codes in FastAPI docs
  webhook/main.py
Labels: cla: yes

#33 Small refactor
  default/main.py
  default/tests/test_main.py
Labels: cla: yes

#35 VT feed fetching
  capstone/feed-fetching/get_vt_feed.py
  capstone/feed-fetching/requirements.txt
  capstone/feed-fetching/test_get_vt_feed.py
Labels: capstone, cla: yes

#36 Add docker deployment for capstone/files
  capstone/files/Dockerfile
  capstone/files/README.md
  capstone/files/app/main.py
  capstone/files/app/media/.gitkeep
  capstone/files/app/requirements.txt
  capstone/files/app/templates/base.html.jinja
  capstone/files/app/templates/file_name.html.jinja
  capstone/files/app/templates/form.html.jinja
  capstone/files/app/tests/__init__.py
  capstone/files/app/tests/test_main.py
  capstone/files/deploy.sh
Labels: capstone, cla: yes

#37 Feed fetching script deployment
  capstone/feed-fetching/README.md
  capstone/feed-fetching/upload.sh
Labels: capstone, cla: yes

#38 Create python workflow with github actions
  .github/workflows/python-ci.yml
  capstone/files/app/requirements-dev.txt
  webhook/requirements-dev.txt
Labels: cla: yes

#39 Fix CI in default app
  capstone/feed-fetching/requirements-dev.txt
  capstone/feed-fetching/test_get_vt_feed.py
  default/main.py
  default/tests/test_main.py
Labels: cla: yes

#43 Changed kibana wazuhapp version, added patches
  capstone/install-kibana.sh
Labels: capstone, cla: yes

#42 Automate index template and ILM policy automation
  capstone/feed-fetching/README.md
  capstone/feed-fetching/deploy-first.sh
Labels: capstone, cla: yes

#44 Removed excess try-except in tests of Default app
  default/tests/test_main.py
Labels: cla: yes, default

#40 Fix tests in webhook app
  capstone/feed-fetching/requirements-dev.txt
  capstone/feed-fetching/test_get_vt_feed.py
  webhook/.gcloudignore
  webhook/main.py
  webhook/models.py
  webhook/tests/fixtures.py
  webhook/tests/test_email_address.py
  webhook/tests/test_query_results.py
  webhook/tests/test_root.py
Labels: cla: yes
