Repository googleinterns/vt-usage, pull requests merged in 2020-09, with the labels that each got.

#50 Add license to all files
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/workflows/python-ci.yml
  LICENSE
  README.md
  capstone/feed-fetching/deploy-first.sh
  capstone/feed-fetching/get_vt_feed.py
  capstone/feed-fetching/test_get_vt_feed.py
  capstone/feed-fetching/upload.sh
  capstone/files/Dockerfile
  capstone/files/app/main.py
  capstone/files/app/tests/__init__.py
  capstone/files/app/tests/test_main.py
  capstone/files/deploy.sh
  capstone/install-elastic-stack.sh
  capstone/install-kibana.sh
  capstone/install-wazuh-agent.sh
  capstone/install-wazuh.sh
  capstone/setup-filebeat.sh
  default/app.yaml
  default/cron.yaml
  default/main.py
  default/models.py
  default/static/style.css
  default/templates/form.html
  default/templates/index.html
  default/tests/__init__.py
  default/tests/test_main.py
  default/tests/testfiles/index.html
  default/tests/testfiles/userdata.html
  terraform/main.tf
  webhook/app.yaml
  webhook/main.py
  webhook/models.py
  webhook/tests/__init__.py
  webhook/tests/fixtures.py
  webhook/tests/test_email_address.py
  webhook/tests/test_models.py
  webhook/tests/test_query_results.py
  webhook/tests/test_root.py
Labels: cla: yes

#49 Network enrichment script
  .github/workflows/python-ci.yml
  capstone/network-enrichment/custom_vt_network.py
  capstone/network-enrichment/deploy.sh
  capstone/network-enrichment/requirements-dev.txt
  capstone/network-enrichment/tests/__init__.py
  capstone/network-enrichment/tests/test_alert.json
  capstone/network-enrichment/tests/test_alert_out.json
  capstone/network-enrichment/tests/test_custom_vt_network.py
Labels: capstone, cla: yes

#57 add more fields to network enrichment data
  capstone/network-enrichment/custom_vt_network.py
Labels: capstone, cla: yes

#60 Improved bootstrap frontend
  capstone/files/app/templates/base.html.jinja
  capstone/files/app/templates/file_name.html.jinja
  capstone/files/app/templates/form.html.jinja
Labels: capstone, cla: yes

#48 Add files enrichment using VT data
  capstone/files/enrichment/0490-virustotal_rules.xml
  capstone/files/enrichment/deploy.sh
  capstone/files/enrichment/virustotal.py
Labels: capstone, cla: yes

#59 Added readme, comments to default app; Fixed typo
  default/README.md
  default/main.py
  default/tests/test_main.py
Labels: cla: yes, default

#61 Added info about projects to readme
  README.md
Labels: cla: yes
